.carousel-item img {
    transform: scale(0.5); /* Reduz a imagem para 50% do tamanho original */
    object-fit: cover; /* Garante que a imagem mantenha proporção */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Garante alinhamento no contêiner */
}

.carousel-control-prev, .carousel-control-next {
    background-color: #333; /* Cor de fundo personalizada */
    color: white; /* Cor do ícone do botão */
    border-radius: 50%; /* Para um formato arredondado */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #FF0000; /* Cor do ícone do botão */
}

