.carousel-item img {
    width: 50%; /* Largura fixa */
    height: 250%; /* Altura fixa */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    display: block; /* Garante o alinhamento */
    margin: 0 auto; /* Centraliza no slide */
}

.carousel-inner {
    background-color: black
}
